#Config file for Beta Tweaks

#Clientside Settings
draggingShortcuts=true
logoStyle=0 #Choose 0 for Standard, 1 for Animated, 2 for Custom
mainmenuPanorama=false
mainmenuQuitButton=false
serverList=false
improvedChat=false
improvedChatFontScale=1.0
improvedChatWidthPercentage=0.5
improvedChatIngameHeightOffset=0
improvedChatHorizontalGap=2
improvedChatIngameHeightPercentage=0.5
improvedChatMaxScrollableMessages=100
improvedChatIndicator=0 #Choose 0 for Default, 1 for Vertical, 2 for Both
improvedChatInvisibleToggleButton=true
scrollableControls=false
ingameTexurePackButton=false
hideAchievementNotifications=false
disableEntityRendererOverride=true
fovSlider=false
fov=70.0
indevStorageBlocks=false
hideLongGrass=false
hideDeadBush=false
customFullscreenRes= #Format like this: width,height,bbp,freq

#Singleplayer Only Settings
punchSheepForWool=false
ladderGaps=false
lightTNTwithFist=false
hoeGrassForSeeds=false
minecartBoosters=false
boatElevators=false
